html * {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(68, 68, 68);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
}

.title_container {
  display: flex;
  justify-content: center;
  height: 10vw;
  font-size: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.output_container {
  display: none;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.selection_container {
  display: none;
  gap: 20px;
}

.score_container {
  display: none;
  gap: 30px;
  color: #fff;
}

.player_score_container,
.computer_score_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_score_container div,
.computer_score_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 10px;
  height: 10vw;
  width: 10vw;
  font-size: 50px;
  color: #fff;
}

button {
  background: none;
  font-size: 20px;
  border-radius: 15px;
  border: 1px white solid;
  height: 2vw;
  width: 10vw;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background: rgb(43, 50, 252);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 234px -242.3333333333px hsl(95deg, 100%, 50%), 483px 76.6666666667px hsl(186deg, 100%, 50%), -476px -619.3333333333px hsl(71deg, 100%, 50%), 314px -211.3333333333px hsl(179deg, 100%, 50%), 442px -642.3333333333px hsl(230deg, 100%, 50%), 44px -311.3333333333px hsl(255deg, 100%, 50%), 323px -471.3333333333px hsl(299deg, 100%, 50%), 111px 38.6666666667px hsl(233deg, 100%, 50%), 366px -775.3333333333px hsl(359deg, 100%, 50%), 391px -348.3333333333px hsl(7deg, 100%, 50%), 471px -599.3333333333px hsl(164deg, 100%, 50%), 320px 71.6666666667px hsl(345deg, 100%, 50%), 383px -388.3333333333px hsl(245deg, 100%, 50%), -336px -146.3333333333px hsl(124deg, 100%, 50%), 270px -710.3333333333px hsl(287deg, 100%, 50%), -471px -377.3333333333px hsl(164deg, 100%, 50%), -419px -555.3333333333px hsl(78deg, 100%, 50%), 326px -560.3333333333px hsl(182deg, 100%, 50%), 365px -227.3333333333px hsl(169deg, 100%, 50%), -375px 138.6666666667px hsl(158deg, 100%, 50%), -349px -529.3333333333px hsl(31deg, 100%, 50%), -338px 85.6666666667px hsl(242deg, 100%, 50%), -371px 60.6666666667px hsl(73deg, 100%, 50%), -205px -819.3333333333px hsl(8deg, 100%, 50%), 288px -74.3333333333px hsl(18deg, 100%, 50%), -220px -89.3333333333px hsl(29deg, 100%, 50%), -399px -223.3333333333px hsl(338deg, 100%, 50%), -340px -560.3333333333px hsl(7deg, 100%, 50%), -176px -704.3333333333px hsl(214deg, 100%, 50%), 420px -725.3333333333px hsl(240deg, 100%, 50%), 22px -486.3333333333px hsl(306deg, 100%, 50%), -28px -614.3333333333px hsl(235deg, 100%, 50%), 350px 76.6666666667px hsl(151deg, 100%, 50%), 264px -478.3333333333px hsl(246deg, 100%, 50%), -57px -236.3333333333px hsl(126deg, 100%, 50%), 395px -743.3333333333px hsl(111deg, 100%, 50%), -195px 96.6666666667px hsl(234deg, 100%, 50%), 23px -435.3333333333px hsl(177deg, 100%, 50%), -25px -593.3333333333px hsl(17deg, 100%, 50%), 96px 6.6666666667px hsl(166deg, 100%, 50%), -23px -807.3333333333px hsl(66deg, 100%, 50%), -396px 109.6666666667px hsl(266deg, 100%, 50%), -129px -86.3333333333px hsl(269deg, 100%, 50%), 480px 124.6666666667px hsl(354deg, 100%, 50%), 360px -457.3333333333px hsl(131deg, 100%, 50%), 110px -432.3333333333px hsl(14deg, 100%, 50%), -447px 50.6666666667px hsl(5deg, 100%, 50%), 341px -657.3333333333px hsl(16deg, 100%, 50%), -426px -379.3333333333px hsl(154deg, 100%, 50%), -317px -651.3333333333px hsl(301deg, 100%, 50%), 258px 33.6666666667px hsl(259deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 234px -242.3333333333px hsl(95deg, 100%, 50%), 483px 76.6666666667px hsl(186deg, 100%, 50%), -476px -619.3333333333px hsl(71deg, 100%, 50%), 314px -211.3333333333px hsl(179deg, 100%, 50%), 442px -642.3333333333px hsl(230deg, 100%, 50%), 44px -311.3333333333px hsl(255deg, 100%, 50%), 323px -471.3333333333px hsl(299deg, 100%, 50%), 111px 38.6666666667px hsl(233deg, 100%, 50%), 366px -775.3333333333px hsl(359deg, 100%, 50%), 391px -348.3333333333px hsl(7deg, 100%, 50%), 471px -599.3333333333px hsl(164deg, 100%, 50%), 320px 71.6666666667px hsl(345deg, 100%, 50%), 383px -388.3333333333px hsl(245deg, 100%, 50%), -336px -146.3333333333px hsl(124deg, 100%, 50%), 270px -710.3333333333px hsl(287deg, 100%, 50%), -471px -377.3333333333px hsl(164deg, 100%, 50%), -419px -555.3333333333px hsl(78deg, 100%, 50%), 326px -560.3333333333px hsl(182deg, 100%, 50%), 365px -227.3333333333px hsl(169deg, 100%, 50%), -375px 138.6666666667px hsl(158deg, 100%, 50%), -349px -529.3333333333px hsl(31deg, 100%, 50%), -338px 85.6666666667px hsl(242deg, 100%, 50%), -371px 60.6666666667px hsl(73deg, 100%, 50%), -205px -819.3333333333px hsl(8deg, 100%, 50%), 288px -74.3333333333px hsl(18deg, 100%, 50%), -220px -89.3333333333px hsl(29deg, 100%, 50%), -399px -223.3333333333px hsl(338deg, 100%, 50%), -340px -560.3333333333px hsl(7deg, 100%, 50%), -176px -704.3333333333px hsl(214deg, 100%, 50%), 420px -725.3333333333px hsl(240deg, 100%, 50%), 22px -486.3333333333px hsl(306deg, 100%, 50%), -28px -614.3333333333px hsl(235deg, 100%, 50%), 350px 76.6666666667px hsl(151deg, 100%, 50%), 264px -478.3333333333px hsl(246deg, 100%, 50%), -57px -236.3333333333px hsl(126deg, 100%, 50%), 395px -743.3333333333px hsl(111deg, 100%, 50%), -195px 96.6666666667px hsl(234deg, 100%, 50%), 23px -435.3333333333px hsl(177deg, 100%, 50%), -25px -593.3333333333px hsl(17deg, 100%, 50%), 96px 6.6666666667px hsl(166deg, 100%, 50%), -23px -807.3333333333px hsl(66deg, 100%, 50%), -396px 109.6666666667px hsl(266deg, 100%, 50%), -129px -86.3333333333px hsl(269deg, 100%, 50%), 480px 124.6666666667px hsl(354deg, 100%, 50%), 360px -457.3333333333px hsl(131deg, 100%, 50%), 110px -432.3333333333px hsl(14deg, 100%, 50%), -447px 50.6666666667px hsl(5deg, 100%, 50%), 341px -657.3333333333px hsl(16deg, 100%, 50%), -426px -379.3333333333px hsl(154deg, 100%, 50%), -317px -651.3333333333px hsl(301deg, 100%, 50%), 258px 33.6666666667px hsl(259deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.animate__animated.animate__hinge {
  --animate-duration: 4s;
}/*# sourceMappingURL=styles.css.map */