html * {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(68, 68, 68);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
}

.title_container {
  display: flex;
  justify-content: center;
  height: 10vw;
  font-size: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.output_container {
  display: none;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.selection_container {
  display: none;
  gap: 20px;
}

.score_container {
  display: none;
  gap: 30px;
  color: #fff;
}

.player_score_container,
.computer_score_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_score_container div,
.computer_score_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 10px;
  height: 10vw;
  width: 10vw;
  font-size: 50px;
  color: #fff;
}

button {
  background: none;
  font-size: 20px;
  border-radius: 15px;
  border: 1px white solid;
  height: 4vw;
  width: 10vw;
  cursor: pointer;
  color: #fff;
  padding: 5px;
}

button:hover {
  background: rgb(43, 50, 252);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -271px -598.3333333333px hsl(286deg, 100%, 50%), -21px -460.3333333333px hsl(186deg, 100%, 50%), -212px -70.3333333333px hsl(24deg, 100%, 50%), -299px 13.6666666667px hsl(239deg, 100%, 50%), 464px -617.3333333333px hsl(79deg, 100%, 50%), 196px -498.3333333333px hsl(118deg, 100%, 50%), 434px -803.3333333333px hsl(41deg, 100%, 50%), -419px -257.3333333333px hsl(356deg, 100%, 50%), 66px -420.3333333333px hsl(70deg, 100%, 50%), -230px -91.3333333333px hsl(345deg, 100%, 50%), 189px -825.3333333333px hsl(352deg, 100%, 50%), -227px -603.3333333333px hsl(257deg, 100%, 50%), -120px -389.3333333333px hsl(284deg, 100%, 50%), 474px -51.3333333333px hsl(71deg, 100%, 50%), 56px -53.3333333333px hsl(132deg, 100%, 50%), -263px -145.3333333333px hsl(156deg, 100%, 50%), -265px -787.3333333333px hsl(34deg, 100%, 50%), -9px -826.3333333333px hsl(12deg, 100%, 50%), 440px 18.6666666667px hsl(33deg, 100%, 50%), 362px 35.6666666667px hsl(183deg, 100%, 50%), 316px 72.6666666667px hsl(315deg, 100%, 50%), -401px -216.3333333333px hsl(80deg, 100%, 50%), 360px -285.3333333333px hsl(338deg, 100%, 50%), -12px -674.3333333333px hsl(22deg, 100%, 50%), 381px -384.3333333333px hsl(62deg, 100%, 50%), -429px -336.3333333333px hsl(226deg, 100%, 50%), -187px 117.6666666667px hsl(55deg, 100%, 50%), -403px -397.3333333333px hsl(190deg, 100%, 50%), -179px -830.3333333333px hsl(219deg, 100%, 50%), -5px 118.6666666667px hsl(312deg, 100%, 50%), -324px 80.6666666667px hsl(136deg, 100%, 50%), -276px -358.3333333333px hsl(356deg, 100%, 50%), -447px -672.3333333333px hsl(36deg, 100%, 50%), -377px 4.6666666667px hsl(117deg, 100%, 50%), 77px -46.3333333333px hsl(224deg, 100%, 50%), 130px -160.3333333333px hsl(40deg, 100%, 50%), 126px -24.3333333333px hsl(8deg, 100%, 50%), 312px -750.3333333333px hsl(58deg, 100%, 50%), 423px -367.3333333333px hsl(250deg, 100%, 50%), -368px -759.3333333333px hsl(285deg, 100%, 50%), -275px -627.3333333333px hsl(210deg, 100%, 50%), 232px -61.3333333333px hsl(229deg, 100%, 50%), 414px -296.3333333333px hsl(111deg, 100%, 50%), 178px -813.3333333333px hsl(37deg, 100%, 50%), -84px -681.3333333333px hsl(210deg, 100%, 50%), -403px -331.3333333333px hsl(137deg, 100%, 50%), -399px 143.6666666667px hsl(257deg, 100%, 50%), -264px -825.3333333333px hsl(202deg, 100%, 50%), -29px -282.3333333333px hsl(143deg, 100%, 50%), -38px -695.3333333333px hsl(173deg, 100%, 50%), -326px -50.3333333333px hsl(165deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -271px -598.3333333333px hsl(286deg, 100%, 50%), -21px -460.3333333333px hsl(186deg, 100%, 50%), -212px -70.3333333333px hsl(24deg, 100%, 50%), -299px 13.6666666667px hsl(239deg, 100%, 50%), 464px -617.3333333333px hsl(79deg, 100%, 50%), 196px -498.3333333333px hsl(118deg, 100%, 50%), 434px -803.3333333333px hsl(41deg, 100%, 50%), -419px -257.3333333333px hsl(356deg, 100%, 50%), 66px -420.3333333333px hsl(70deg, 100%, 50%), -230px -91.3333333333px hsl(345deg, 100%, 50%), 189px -825.3333333333px hsl(352deg, 100%, 50%), -227px -603.3333333333px hsl(257deg, 100%, 50%), -120px -389.3333333333px hsl(284deg, 100%, 50%), 474px -51.3333333333px hsl(71deg, 100%, 50%), 56px -53.3333333333px hsl(132deg, 100%, 50%), -263px -145.3333333333px hsl(156deg, 100%, 50%), -265px -787.3333333333px hsl(34deg, 100%, 50%), -9px -826.3333333333px hsl(12deg, 100%, 50%), 440px 18.6666666667px hsl(33deg, 100%, 50%), 362px 35.6666666667px hsl(183deg, 100%, 50%), 316px 72.6666666667px hsl(315deg, 100%, 50%), -401px -216.3333333333px hsl(80deg, 100%, 50%), 360px -285.3333333333px hsl(338deg, 100%, 50%), -12px -674.3333333333px hsl(22deg, 100%, 50%), 381px -384.3333333333px hsl(62deg, 100%, 50%), -429px -336.3333333333px hsl(226deg, 100%, 50%), -187px 117.6666666667px hsl(55deg, 100%, 50%), -403px -397.3333333333px hsl(190deg, 100%, 50%), -179px -830.3333333333px hsl(219deg, 100%, 50%), -5px 118.6666666667px hsl(312deg, 100%, 50%), -324px 80.6666666667px hsl(136deg, 100%, 50%), -276px -358.3333333333px hsl(356deg, 100%, 50%), -447px -672.3333333333px hsl(36deg, 100%, 50%), -377px 4.6666666667px hsl(117deg, 100%, 50%), 77px -46.3333333333px hsl(224deg, 100%, 50%), 130px -160.3333333333px hsl(40deg, 100%, 50%), 126px -24.3333333333px hsl(8deg, 100%, 50%), 312px -750.3333333333px hsl(58deg, 100%, 50%), 423px -367.3333333333px hsl(250deg, 100%, 50%), -368px -759.3333333333px hsl(285deg, 100%, 50%), -275px -627.3333333333px hsl(210deg, 100%, 50%), 232px -61.3333333333px hsl(229deg, 100%, 50%), 414px -296.3333333333px hsl(111deg, 100%, 50%), 178px -813.3333333333px hsl(37deg, 100%, 50%), -84px -681.3333333333px hsl(210deg, 100%, 50%), -403px -331.3333333333px hsl(137deg, 100%, 50%), -399px 143.6666666667px hsl(257deg, 100%, 50%), -264px -825.3333333333px hsl(202deg, 100%, 50%), -29px -282.3333333333px hsl(143deg, 100%, 50%), -38px -695.3333333333px hsl(173deg, 100%, 50%), -326px -50.3333333333px hsl(165deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.animate__animated.animate__hinge {
  --animate-duration: 4s;
}/*# sourceMappingURL=styles.css.map */